<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <small>연구수행기관</small>
        <span class="text-bold">한남대학교</span>
    </div>
    <!-- Default to the left -->
    @*<strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.*@
    <strong>Copyright &copy; 2022 <a href="http://www.hannam.ac.kr/kor/main/">Hannam University</a>.</strong> All rights reserved.
</footer>